body{
    box-sizing: border-box;
}
.table .td_1{
    width:10%;
}
.table .td_2{
    width:70%;
}
.table .td_3{
    width:10%;
}
.table .td_4{
    width:10%;
}
#email_table_add{
    float:right;
}
.table tbody:nth-child(1){
    background-color:#999;
}
.table .table_email tr:hover{
    background-color:#eee;
}
.btn_p{
cursor:pointer;
}
.msg_status{
    text-align: center;
    font-size: 20px;
    margin: 50px 0;
}